<div class="mt-4">
    <h1>CẬP NHẬT KHÓA HỌC</h1>
    
    <form class="mt-4" method="POST" action="/courses/{{course._id}}?_method=PUT">
        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" value="{{course.name}}" name="name">
            
        </div>
        <div class="mb-3">
            <label for="description" class="form-label">Description</label>
            <textarea  class="form-control" name="description">{{course.description}}</textarea>
            
        </div>
        <div class="mb-3">
            <label for="videoID" class="form-label">VideoID</label>
            <input type="text" class="form-control" value="{{course.videoID}}" name="videoID">
            
        </div>
        <div class="mb-3">
            <label for="videoID" class="form-label">Trình độ</label>
            <input type="text" class="form-control" value="{{course.level}}" name="level">
            
        </div>
        <button type="submit" class="btn btn-primary mb-3">Lưu</button>
    </form>

</div>